<!DOCTYPE html>
<html lang="es_CL">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Ruido Ambiental: Visor de Proyectos</title>
        <link rel="icon" type="image/x-icon" href="content/img/favicon.ico">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="https://api.tiles.mapbox.com/mapbox-gl-js/v2.9.2/mapbox-gl.js"></script>
        <link rel="stylesheet" href="https://api.tiles.mapbox.com/mapbox-gl-js/v2.9.2/mapbox-gl.css"/>
        <link rel="stylesheet" href="content/styles/style.css" type="text/css">

    </head>
    <body>
        <div class= "informacion">
            <div class="flex-item"><img class= "pe-1 pb-1" width = "20" height = "20" src="content/img/cell.svg"></div>
            <div class="flex-item pe-4"><a href="tel:(+562)28910250" style="color: #413e3e; text-decoration-line: none;"><b>(+56 2) 2891 0250</b></a></div>
            <div class="flex-item"><img class= "pe-1 pb-1" width = "20" height = "20" src="content/img/mail.svg"></div>
            <div class="flex-item"><a href="mail:contacto@ruidoambiental.cl" style="color: #413e3e; text-decoration-line: none;"><b>contacto@ruidoambiental.cl</b></a></div>
        </div>
        <nav class="navbar navbar-expand-lg navbar-light bg-white fw-bold">
            <div class="container-fluid">
                <button class="navbar-toggler d-none d-sm-block d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="custom-brand navbar-brand pt-3 pe-5" href="http://www.ruidoambiental.cl" target="_blank"><img src="content/img/logohome.jpg" width="250" height="56" alt="Ruidoambiental.cl"></a>
                <button class="navbar-toggler d-block d-sm-none mb-1" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item pe-5">
                            <a class="nav-link navitem text-dark notselected" aria-current="page" href="#">HOME</a>
                        </li>
                        <li class="nav-item pe-5">
                            <a class="nav-link navitem text-dark notselected" aria-current="page" href="#">DETALLE EVALUACIONES</a>
                        </li>
                        <li class="nav-item pe-5">
                            <a class="nav-link navitem text-dark notselected" aria-current="page" href="#">PREDICCIÓN SONORA</a>   
                        </li>
                        <li class="nav-item pe-5">
                            <a class="nav-link navitem text-dark notselected" aria-current="page" href="#">CONTACTO</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container" id="cuerpo"></div>

        <!--Scripts-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js" integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK" crossorigin="anonymous"></script>
        
    </body>
</html>


