{% extends "layout.html"%}

{%block title %} Home {% endblock %}

{% block content %}
    <h3 class="text-center">Hoy</h3>
    <div class="container">
        <div class="row">
            <div class="col-auto"><p class=".h4 text-center">Temperatura</p></div>
                <div class="col">
                    <div class="row">
                        {% for x, y in data[0].items() %}
                        <div class="col">{{x}}:00 horas <br> {{y}} ºC</div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-auto"><p class=".h4 text-center">Dirección del Viento</p></div>
                <div class="col">
                    <div class="row">
                        {% for x, y in data[1].items() %}
                        <div class="col">{{x}}:00 horas <br> {{y}}</div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-auto"><p class=".h4 text-center">Velocidad del Viento</p></div>
                <div class="col">
                    <div class="row">
                        {% for x, y in data[2].items() %}
                        <div class="col">{{x}}:00 horas <br> {{y}} Km/h</div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
